<script id="template_paises_partial" type="text/x-handlebars-template">    
        <div id="paises" class="tab-pane fade in active">
                <div class="panel panel-default">
                        <div class="panel-body">
                          <table class="table table-hover">
                              <thead>
                                  <th>Nombre</th>
                                  <th>Capital</th>
                                  <th>Region</th>
                                  <th>Poblacion</th>
                              </thead>
                              <tbody>
                                    {{#each paises}}
                                        <tr>
                                            <th>{{ this.name }}</th>
                                            <th>{{ this.capital }}</th>
                                            <th>{{ this.region }}</th>
                                            <th>{{ this.population }}</th>
                                        </tr>
                                    {{/each}}
                              </tbody>
                          </table>
                        </div>
                </div>
        
        </div>          
</script>